body {
	font-size: 18px;
	font-family: Arial;
	color: #666;
	width: 70%;
	margin: 0 auto;
}

.ch2 {
	text-align: center;
}

img {
	width: 50%;
	border: 2px solid #666;
	border-radius: 25px;
}

.cimg {
	text-align: center;
	padding: 15px;
}

p {
	line-height: 140%;
}